# CPU build doesn't do local Image,Video,Audio gen, and relies entirely on APIs
# However, we need torch to translate inputs from load image and so on into tensors and it's a
# base requirement of ComfyUI

# ComfyUI will use the nvidia (or AMD) versions by default, which won't work in a dumb VM
# and are rather heavy in file size

# So we cache these high versions instead, and hope custom node writers don't try to use
# their own later versions

# The Dockerfile from the companion repo https://github.com/trustypangolin/ComfyUI_API-DockerContainer 
# will do this for you, but if you are using this directly in your own install, 
# Then you can pip install this file, or use your own nVidia/AMD ROCm version

--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchvision
torchaudio